.transaction-history {
    width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #E7ECF2;
}

.transaction-history thead {
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(29, 179, 243);
    color: aliceblue;
}

.transaction-history td,
th {
    padding: 7px 20px;
    text-align: center;
    font-weight: normal;
}


.transaction-history tr:nth-child(even) {
    background-color: #E7ECF2;
}

.transaction-history tbody td:first-child {
    text-transform: capitalize;
}