html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}

h1,
h2,
ul,
p,
a {
    margin: 0;
    padding: 0;
    display: block;
}

a,
a:hover {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


li {
    list-style: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;

}